:root {
  /* Core brand */
  --color-black: #030304;
  --color-cream: #f1eee5;
  --color-rose: #96737b;
  --color-taupe: #bcaa89;

  /* Extended neutrals*/
  --color-beige-dark: #a69478;
  --color-beige-deep: #7d6f58;
  --color-brown: #5f5646;
  --color-coal: #3f3a2f;
  --color-night: #2c2921;
  --color-charcoal: #1a1814;

  /* Utility */
  --color-accent-light: var(--color-rose);
  --color-accent-dark: var(--color-taupe);
  --color-success-light: var(--color-taupe);
  --color-success-dark: var(--color-brown);
  --color-warning-light: var(--color-cream);
  --color-warning-dark: var(--color-taupe);
  --color-error-light: var(--color-rose);
  --color-error-dark: var(--color-brown);

  /* Grays */
  --gray-50: #f8f7f4;
  --gray-100: #f1eee5;
  --gray-200: #e3dfd6;
  --gray-300: #d6d2c7;
  --gray-400: #bfb8ac;
  --gray-500: #a0988c;
  --gray-600: #7f786f;
  --gray-700: #5f5952;
  --gray-800: #3e3a36;
  --gray-900: #030304;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  /* Border radius */
  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 0.3s, border 0.3s;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-charcoal);
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  text-decoration: none;
  border-radius: 0;
}
